<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consent Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Consent Form for Participation in Research</h1>
      <h2>AI-Driven Postural Abnormality Management Among Desk Job Workers -<br> A Quasi Experimental Study</h2>
      <p><strong>Investigator:</strong> Akash B, PG Scholar, Department of Epidemology, The Tamil Nadu Dr. M.G.R. Medical University, Chennai.</p>
    </div>

    <div class="content">
      <p><b>Invitation to participate and Purpose of the Study:</b></p>
      <p>You are invited to participate in this research study titled "AI-Driven Postural Abnormality Management Among Desk Job Workers - A Quasi Experimental Study". 
        The purpose of this study is to assess the accuracy of postural abnormalities among Desk Job Workers in the selected region by physiotherapy assessment tool (Goniometer) and using Al technology and to evaluate the effectiveness of physiotherapy intervention for managing postural abnormalities among Desk Job Workers.
      </p>
      <p><b>Description of Procedures:
      </b> <br>
      If you agree to participate in this study, we will request you to do the following instructions:
    </p>
    <ul>
      <li>Participate in the initial assessment to determine your postural status</li>
      <li>Follow the protocols as directed by the physiotherapist</li>
      <li>Participate in follow-up assessments to track changes in your posture.</li>
    </ul>
    <br>
      <p><b>Potential Risks and Discomforts:
      </b> <br>There are minimal risks associated with this study. You may feel discomfort during the postural assessments, but this is typically minimal and temporary.
    </p>
    <br>
      <p><b>Benefits:
      </b><br>The data collected will help participants prevent and treat their postural abnormalities by providing information about their posture and how to improve it. 
      However, the information learned might help to develop more effective anterventions for managing postural abnormalities in the future.</p>
      <br>

      <p><b>Confidentiality:
      </b> <br>Your participation in this study is confidential. 
      Your personal information will not be disclosed and your responses will be kept anonymous. 
      We will collect your photographic and video data, but the system will only analyze the topological landmarks. 
      Your personal identity will remain anonymous, and your data will be encrypted throughout the process.
    </p> <br>

    <p><b>Participation and Withdrawal:
    </b>Your participation in this study is completely voluntary. You may choose to withdraw at any time without any negative consequences.
  </p> <br>
      <p><b>Contact Information:
      </b>
    </p>
      <p><strong>Akash B</strong><br>PG Scholar, Department of Epidemology<br>Phone: <a href="tel:+91 90435 20998" style="text-decoration: none;color: inherit;">+91 90435 20998</a></p>
<br>
      <!--<p><b>Informed Consent:</b></p> -->

      

      <form method="POST">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="agreement">
          <input type="checkbox" id="agreement" name="agreement" required>
          I have read the above information and agree to participate in this study.
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>

    <!-- <div class="footer">
      <p>&copy; 2025 The Tamil Nadu Dr. M.G.R. Medical University, Chennai. All Rights Reserved.</p>
    </div> -->
  </div>
</body>
</html>
